.background_image{
    background-image: url('../../../assets/images/ao.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.custom-border{
    border-radius: 15px;
    padding: 15px;
}
.custom-btn{
    border-radius: 15px;
}