<footer class="bg-gradient-to-r from-purple-950 via-gray-900 to-black text-white py-5 px-4 font-sans relative">
  <!-- SVG Wave Animation -->
  <svg class="editorial absolute bottom-0 left-0 z-0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none">
    <defs>
      <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s58 18 88 18 58-18 88-18 58 18 88 18v44h-352z" />
    </defs>
    <g class="parallax1">
      <use xlink:href="#gentle-wave" x="50" y="3" fill="#0e2e3b"/>
    </g>
    <g class="parallax2">
      <use xlink:href="#gentle-wave" x="50" y="0" fill="#a287f4"/>
    </g>
    <g class="parallax3">
      <use xlink:href="#gentle-wave" x="50" y="9" fill="#4e3188"/>
    </g>
    <g class="parallax4">
      <use xlink:href="#gentle-wave" x="50" y="6" fill="#252525"/>  
    </g>
  </svg>

  <!-- Footer Content -->
  <div class="text-center relative z-10">
    <h6 class="text-base">Bhagyashri Tamrakar</h6>

    <ul class="flex flex-wrap justify-center gap-x-2 gap-y-2 my-2">
      <li><a href="https://github.com/BST82" target="_blank" class="text-xl hover:text-gray-400">
          <img src="../../../assets/images/Github.gif"/>
      </a></li>
      <li><a href="https://www.linkedin.com/in/bhagyashritamrakar/" target="_blank" class="text-xl hover:text-gray-400">
          <img src="../../../assets/images/Linkedin.gif"/>
      </a></li>
      <li><a href="https://x.com/BShriTamrakar" target="_blank" class="text-xl hover:text-gray-400">
          <img src="../../../assets/images/Twitterx.gif" style="width: 50px; height: 50px;"/>
      </a></li>
    </ul>

    <p class="text-base mb-5">&copy; 2024<a href='#' target='_blank' class="hover:underline mx-2 ">{{text_message}}</a></p>
  </div>
</footer>
