
<!-- <router-outlet></router-outlet> -->
<div id="home" class="grid mt-16 sm:mt-20 md:mt-16 grid-cols-2 gap-4 px-4 sm:px-6 md:px-8 lg:px-10 xl:px-12 bg-gradient-to-r bg-[#080f16]  background-container custom-home-class">
    <!-- SVG for animated text -->
    <svg class="svg-text hidden sm:hidden md:block lg:block xl:block" viewBox="0 0 1320 300" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 0;" style="z-index: 10;">
        <text x="50%" y="50%" dy=".3em" text-anchor="middle" class="animate-stroke" fill="transparent" stroke="white" stroke-width="5">
            H!
        </text>
    </svg>    

    <div class=" col-span-2 sm:col-span-1 p-4 sm:p-6 md:p-8 lg:p-10 text-center ">
        <p class="text-white text-lg  md:pt-16 sm:pt-12 lg:text-3xl font-bold">I'm Prabhat</p>
        <h1 class="mb-4 text-3xl font-extrabold text-gray-700 dark:text-lime-50 md:text-5xl lg:text-6xl">
            <span class="text-transparent bg-clip-text bg-gradient-to-r from-purple-900 text-gray-900 to-white">
                FrontEnd-Web Developer
            </span>
        </h1>
        
        <p class="first-letter:text-white mb-3 text-gray-500 dark:text-gray-400 first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold   first-letter:me-3 first-letter:float-start">
            A Result-Oriented Web Developer<br>building and managing Websites and Web Applications that leads to the success of the overall product. I design and code beautifully simple things and I love what I do.
        </p>
     <app-popup></app-popup>        
    </div>
   
    <div class="col-span-2 sm:col-span-1 flex justify-end items-center p-4 sm:p-6 md:p-8 lg:p-10">
        <figure class="relative max-w-sm sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0" style="z-index: 10; display: flex; justify-content: center; align-items: center;">
            <a>
                <img class="rounded-full border-solid border-8 border-purple-950 grow-on-hover" style="width: 300px; height: 300px;" src="../../../assets/images/homePP.jpeg" alt="Responsive image">
            </a>      
        </figure>
    </div>
    
</div>

