@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: 'Space Mono', monospace;
  background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
}
.grow-on-hover:hover {
  transform: scale(0.9); /* Grow effect */
  border: 4px solid rgb(33, 1, 33); /* Purple border */
  box-shadow: 0 0 15px rgb(33, 1, 33); /* Optional: Adds a glow effect */
  transition: transform 0.3s ease, border 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for the effects */
}


