
<!-- <router-outlet></router-outlet> -->
<div class="grid mt-16 sm:mt-20 md:mt-16 grid-cols-2 gap-4 px-4 sm:px-6 md:px-8 lg:px-10 xl:px-12 bg-gradient-to-r from-[#242D39] via-[#10253C] to-black background-container">
    <!-- SVG for animated text -->
    <svg class="svg-text hidden sm:hidden md:block lg:block xl:block" viewBox="0 0 1320 300" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 0;">
        <text x="50%" y="50%" dy=".3em" text-anchor="middle" class="animate-stroke" fill="transparent" stroke="white" stroke-width="5">
            HI
        </text>
    </svg>    

    <div class=" col-span-2 sm:col-span-1 p-4 sm:p-6 md:p-8 lg:p-10 text-center ">
        <p class="text-white text-lg  md:pt-16 sm:pt-12 lg:text-3xl font-bold">I am Bhagyashri Tamrakar</p>
        <h1 class="mb-4 text-3xl font-extrabold text-gray-700 dark:text-lime-50 md:text-5xl lg:text-6xl">
            <span class="text-transparent bg-clip-text bg-gradient-to-r from-purple-900 text-gray-900 to-white">
                Front-End & Web Developer
            </span>
        </h1>
        
        <p class="first-letter:text-white mb-3 text-gray-500 dark:text-gray-400 first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold   first-letter:me-3 first-letter:float-start">
            I break down complex user experience problems to create integrity-focused solutions that connect billions of people I break down complex user experience 
        </p>
     <app-popup></app-popup>        
    </div>
   
    <div class="col-span-2 sm:col-span-1 flex justify-center items-center p-4 sm:p-6 md:p-8 lg:p-10 ">
        <figure class="relative max-w-sm sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl mx-auto transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0 ">
            <a href="#">
                <img class="rounded-full w-96 h-100vh border-solid border-4 border-purple-950  grow-on-hover" src="../../../assets/images/my_image.png" alt="Responsive image">
            </a>      
        </figure>
    </div>
</div>

<app-education id="education"> </app-education>