<div class="grid grid-cols-3 gap-4 px-10 py-10 bg-gradient-to-r">

    <!-- Github -->
    <div class="bg-slate-700 flex flex-col justify-center items-center py-5 border-transparent hover:border-violet-500 hover:text-xl hover:bg-violet-950 border-solid border-2 rounded-xl">
        <a class="flex flex-col items-center space-x-3 rtl:space-x-reverse">
            <img src="../../../assets/images/github.png" class=" h-14 lg:h-24" alt="Flowbite Logo" />
        </a>
        <p class="text-white">Github</p>
    </div>

    <!-- Java script -->
    <div class="bg-slate-700 flex flex-col justify-center items-center py-5 border-transparent hover:border-violet-500 hover:text-xl hover:bg-violet-950 border-solid border-2 rounded-xl">
        <a  class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="../../../assets/images/java-script.png" class="h-14 lg:h-24" alt="Flowbite Logo" />
        </a>
        <p class="text-white">Java Script</p>
    </div>

    <!-- Java -->
    <div class="bg-slate-700 flex flex-col justify-center items-center py-5 border-transparent hover:border-violet-500 hover:text-xl hover:bg-violet-950 border-solid border-2 rounded-xl">
        <a  class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="../../../assets/images/programing.png" class="h-14 lg:h-24" alt="Flowbite Logo" />
        </a>
        <p class="text-white">Angular</p>
    </div>

    <!-- Php -->
    <div class="col-span-2 bg-slate-700 flex flex-col justify-center items-center py-5 border-transparent hover:border-violet-500 hover:text-xl hover:bg-violet-950 border-solid border-2 rounded-xl">
        <a  class="flex  items-center space-x-3 rtl:space-x-reverse">
            <img src="../../../assets/images/mongo.png" class="h-14 lg:h-24" alt="Flowbite Logo" />
        </a>
        <p class="text-white">MongoDB</p>
    </div>

    <!-- Angular -->
    <div class="bg-slate-700 flex flex-col justify-center items-center py-5 border-transparent hover:border-violet-500 hover:text-xl hover:bg-violet-950 border-solid border-2 rounded-xl">
        <a class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="../../../assets/images/node.png" class="h-14 lg:h-24" alt="Flowbite Logo" />
        </a>
        <p class="text-white">NodeJs</p>
    </div>

    <!-- Python -->
    <div class="bg-slate-700 flex flex-col justify-center items-center py-5 border-transparent hover:border-violet-500 hover:text-xl hover:bg-violet-950 border-solid border-2 rounded-xl">
        <a  class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="../../../assets/images/clang.png" class="h-14 lg:h-24" alt="Flowbite Logo" />
        </a>
        <p class="text-white">C</p>
    </div>
    

    <!-- Wordpress -->
    <div class="col-span-2 bg-slate-700 flex  flex-col justify-center items-center py-5 border-transparent hover:border-violet-500 hover:text-xl hover:bg-violet-950 border-solid border-2 rounded-xl">
        <a  class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="../../../assets/images/SQL.png" class="h-14 lg:h-24" alt="Flowbite Logo" />
        </a>
        <p class="text-white">SQL</p>
    </div>

</div>
<div class="scallop-up"></div>