
<div class="max-w-screen-xl mx-auto p-5 sm:p-10 md:p-16 bg-gradient-to-r bg-[#0e0220]">
    <div class="grid grid-cols-1 md:grid-cols-3 sm:grid-cols-2 gap-10">

        <div class="rounded-lg  bg-white max-w-sm shadow-[-20px_-10px_30px_1px_#2D3748] ">
            <a href="#!">
                <video width="320" height="240" controls class="w-full rounded-t-lg">
                    <source src="../../../assets/images/clip.mp4" type="video/mp4">
                    <source src="movie.ogg" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
            </a>
            <div class="p-6">
                <h5 class="text-gray-900 text-xl font-medium mb-2">Game Clips</h5>
                <p class="text-gray-700 text-base mb-4">
                    This is my Fullstack project! Enhanced skills in Angular, Firebase, and RxJS, overcoming challenges and refining problem-solving abilities. Equipped with advanced technical skills and a passion for innovation, I'm eager to collaborate and explore new frontiers in frontend development. Check out the project on GitHub! 🚀
                </p>
                <button type="button" class=" inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
                    <a href="https://github.com/BST82/clips" target="_blank">Click</a>
                </button>
            </div>
        </div>

        <div class="rounded-lg shadow-[-20px_-10px_30px_1px_#2D3748] bg-white max-w-sm">
            <a>
                <img src="../../../assets/images/fullstack_images/varticle_plublication.png" alt="Image" class="w-full rounded-t-lg">
            </a>
            <div class="p-6">
                <h5 class="text-gray-900 text-xl font-medium mb-2">Article Publication</h5>
                <p class="text-gray-700 text-base mb-4">
                    
🌐 Created a full-stack article publication blog with Angular frontend and Java Spring Boot backend. Users enjoy seamless navigation and intuitive interface powered by Angular. 💻 Spring Boot facilitates user actions like creating, adding, editing, and deleting posts, backed by MySQL database for efficient data management.
                </p>
                <button type="button" class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"> <a href="https://github.com/BST82/Article-Pulications-Edubridge-Final-Project" target="_blank">Click</a></button>
            </div>
        </div>
        

         <!-- <div class="rounded-lg shadow-[-20px_-10px_30px_1px_#2D3748] bg-white max-w-sm">
            <a href="#!">
                <video width="320" height="240" controls class="w-full rounded-t-lg">
                    <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4" type="video/mp4">
                    <source src="movie.ogg" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
            </a>
            <div class="p-6">
                <h5 class="text-gray-900 text-xl font-medium mb-2">Video Card</h5>
                <p class="text-gray-700 text-base mb-4">
                    Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                </p>
                <button type="button" class=" inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Button</button>
            </div>
        </div> -->
    </div>
</div>
