



<div class="grid grid-cols-6 gap-4 p-5 px-4 sm:px-6 md:px-8 lg:px-10 xl:px-12 xl:pt-32 bg-gradient-to-r from-[#032a33] via-[#121435] to-slate-900 background-container relative">

    <svg viewBox="0 0 500 100" class="absolute top-0 left-0 w-full">
        <path d="M 0 50 C 150 100 300 0 500 80 L 500 0 L 0 0" fill="white"></path>
    <path d="M 0 50 C 150 100 330 -30 500 50 L 500 0 L 0 0" fill="black" opacity="0.8"></path>
    <path d="M 0 50 C 215 100 250 0 500 100 L 500 0 L 0 0" fill="purple" opacity="0.5"></path> 
    </svg>

    <!-- Education Description div -->
    <div class="col-start-2 col-span-4 mt-16 lg:mt-32 md:mt-24  customcss bg-violet-950 bg-opacity-5 text-center">
        <h1 class="flex items-center justify-center mx-auto font-extrabold text-xl  sm:mb-2 sm:text-3xl md:text-5xl lg:text-6xl text-white">
            <img src="../../../assets/images/graduation.png" alt="Education Icon" class="w-7 h-7 md:w-12 md:h-12 lg:w-16 lg:h-16 mr-2">
            <!-- Add mr-2 for a little margin right -->
            <span class="text-transparent bg-clip-text bg-gradient-to-r from-purple-900  to-white pr-2 md:pb-2 lg:pb-2 sm:pb-2">My</span>Education
        </h1>
        
        <p class="text-sm font-normal text-gray-500 sm:text-lg lg:text-xl dark:text-gray-400 mt-0 mb-2">           
            I advanced through my educational journey from primary to B.Tech, each stage enhancing my skills and shaping my academic foundation for future professional success. 
        </p>
        
    </div>
    
    <!-- College description div -->
    <div class="col-start-2 col-span-4 bg-purple-400 bg-opacity-5 rounded-3xl shadow p-6 hover:bg-gray-900 hover:border-2 hover:border-violet-500">
        <h1 class="mb-2 font-extrabold text-white sm:mb-4 sm:text-xl md:text-2xl lg:text-3xl">
            <span class="text-transparent bg-clip-text bg-gradient-to-r from-purple-900  to-white">Btech Information Technology</span>(2018-2022)
        </h1>
        <p class="text-sm font-normal text-white sm:text-lg md:text-lg lg:text-xl ">
           DR. A.P.J. Abdul Kalam Technical University, Uttar Pradesh, Lucknow
        </p>
        <p class="pb-2 text-sm font-normal text-white sm:text-lg md:text-lg lg:text-xl">Rajkiya Engineering College Azamgarh Institute</p>
        <p class="text-sm font-normal  sm:text-lg md:text-lg lg:text-xl text-gray-400">
            I earned my BTech degree in Information Technology from Government Rajkiya Engineering College, Azamgarh, dedicating four years to mastering the field. My commitment to this discipline reflects a profound passion for advancing technology, which continues to serve as a cornerstone in my professional career.
        </p>
       
    </div>
    
  <!-- High School description div   -->
    <div class="col-start-1 col-end-4 p-6 bg-purple-400 bg-opacity-5 rounded-3xl shadow hover:bg-gray-900 hover:border-2 hover:border-violet-500">
        <h1 class="mb-2 font-extrabold text-white sm:mb-4 sm:text-xsl md:text-2xl lg:text-3xl">
            <span class="text-transparent bg-clip-text bg-gradient-to-r from-purple-900  to-white">High School</span> 10<sup>th</sup>
        </h1>
        <p class="text-sm font-normal text-gray-500 sm:text-base md:text-lg lg:text-xl ">
            I completed high school at <strong>RSSD Sarvodya Vidyalaya Inter College, Kanpur</strong>, achieving an impressive 83.33%, demonstrating my academic dedication and success.
        </p>
    </div>
    
    <!--Intermediate description div   -->
    <div class="col-end-8 col-span-4 bg-purple-400 bg-opacity-5 rounded-3xl shadow p-6 hover:bg-gray-900 hover:border-2 hover:border-violet-500">
        <h1 class="mb-2 font-extrabold text-white sm:mb-4 sm:text-xl md:text-2xl lg:text-3xl">
            <span class="text-transparent bg-clip-text bg-gradient-to-r from-purple-900 to-white">Intermediate</span> 12<sup>th</sup>
        </h1>        
       
        <p class="text-sm font-normal text-gray-500 sm:text-lg lg:text-xl ">
           I completed my intermediate education at <strong>RSSD Sarvodya Vidyalaya Inter College, Kanpur</strong>, securing 76.2%, a testament to my academic diligence and focus.
        </p>
    </div>
    
    
  </div>


  
  <section class="curved">
</section>




