.curved {
    position: relative;
    height: 10vh;
    background: linear-gradient(90deg, #032a33, #121435, rgb(15 23 42));
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
}
