

<div class="container" *ngIf="isloaded">
<div class="spinnerconent" >
    <div class="spinnerclass">  

        <div class="row">
          <div id="loader">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="loading"></div>
          </div>
      
         
        </div>
      </div>

</div>
</div>