<div class="max-w-screen-xl mx-auto p-5 sm:p-10 md:p-16 bg-gradient-to-r from-[#032a33] via-[#121435] to-slate-900">
    <div class="grid grid-cols-1 md:grid-cols-3 sm:grid-cols-2 gap-10">
        <div class="rounded-lg shadow-[-20px_-10px_30px_1px_#2D3748] bg-white max-w-sm">
            <a>
                <img src="../../../assets/images/wordpress/buehlhof.png" alt="Image"
                    class="w-full rounded-t-lg">
            </a>
            <div class="p-6">
                <h5 class="text-gray-900 text-xl font-medium mb-2">buehlhof</h5>
                <p class="text-gray-700 text-base mb-4">
                    
Presenting my E-commerce WordPress website! 🛒 Built with Divi Theme and Divi Engine, ensuring full responsiveness. 📱 Managed a German-based project overseeing all aspects of development. A seamless fusion of design and functionality for optimal user experience. 🌟
                </p>
                <button type="button"
                    class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
                    <a href="https://wordpress.buehlhof.ch/" target="_blank">Click</a></button>
            </div>
        </div>

        <div class="rounded-lg shadow-[-20px_-10px_30px_1px_#2D3748] bg-white max-w-sm">
            <a>
                <img src="../../../assets/images/wordpress/ibfm.png" alt="Image"
                    class="w-full rounded-t-lg">
            </a>
            <div class="p-6">
                <h5 class="text-gray-900 text-xl font-medium mb-2">IBFM</h5>
                <p class="text-gray-700 text-base mb-4">
                    I created Article, Events, and Search pages to the website, all crafted with full responsiveness using Elementor. 🖋️ Enhancing user engagement and accessibility across devices for a seamless browsing experience. 🌐
                </p>
                <button type="button"
                    class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
                    <a href="http://wordpress.p660563.webspaceconfig.de/" target="_blank">Click</a></button>
            </div>
        </div>


        <div class="rounded-lg shadow-[-20px_-10px_30px_1px_#2D3748] bg-white max-w-sm">
            <a>
                <img src="../../../assets/images/wordpress/kst.png" alt="Image"
                    class="w-full rounded-t-lg">
            </a>
            <div class="p-6">
                <h5 class="text-gray-900 text-xl font-medium mb-2">News Feed Plugin</h5>
                <p class="text-gray-700 text-base mb-4">
                    Developed a JSON news converter plugin, transforming JSON news data into a human-readable format. 📰🔄 Simplifies the process, enabling users to easily interpret and access news content.
                </p>
                <button type="button"
                    class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
                    <a href="https://www.kst-ag.de/investor-relations/directors-dealings/" target="_blank">Click</a></button>
            </div>
        </div>

        <!-- <div class="rounded-lg  bg-white max-w-sm shadow-[-20px_-10px_30px_1px_#2D3748] ">
            <a href="#!">
                <video width="320" height="240" controls class="w-full rounded-t-lg">
                    <source src="../../../assets/videos/" type="video/mp4">
                    <source src="movie.ogg" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
            </a>
            <div class="p-6">
                <h5 class="text-gray-900 text-xl font-medium mb-2">CRUD Ajax plugin</h5>
                <p class="text-gray-700 text-base mb-4">
                    I crafted an AJAX jQuery-based CRUD plugin for WordPress! 🛠️ Upon activation, the plugin generates a table; deactivation removes it. Users can seamlessly add, edit, and delete records via an interactive WordPress admin interface.📝
                </p>
                <button type="button" class=" inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
                    <a href="#" target="_blank">Click</a>
                </button>
            </div>
        </div> -->
    </div>
</div>