<!-- Experience one -->
<section class="flex flex-col justify-center items-center antialiased bg-gray-900 text-gray-200 pt-3 lg:pt-8">
    <h1 class="flex items-center justify-center mx-auto font-extrabold text-xl sm:text-3xl md:text-5xl lg:text-6xl text-white">
        <img src="../../../assets/images/experience_icon.png" alt="Education Icon" class="w-7 h-7 md:w-12 md:h-12 lg:w-16 lg:h-16 mr-2">
        <!-- Add mr-2 for a little margin right -->
        <span class="text-transparent bg-clip-text bg-gradient-to-r from-purple-900  to-white pr-2 md:pb-2 lg:pb-2 ">My</span>Experience
    </h1>
</section>

<!-- Tech Astha Experience -->
<section class="flex flex-col justify-center antialiased bg-gray-900 text-gray-200 pt-3 lg:pt-8">
    <div class="max-w-6xl mx-auto p-4 sm:px-6 h-full">
        <!-- Blog post -->
        <article class="max-w-sm mx-auto md:max-w-none grid md:grid-cols-2 gap-6 md:gap-8 lg:gap-12 xl:gap-16 items-center">
            <a class="relative block group">
                <div class="absolute inset-0 bg-gray-800 hidden md:block transform md:translate-y-2 md:translate-x-4 xl:translate-y-4 xl:translate-x-8 group-hover:translate-x-0 group-hover:translate-y-0 transition duration-700 ease-out pointer-events-none" aria-hidden="true"></div>
                <figure class="relative h-0 pb-[56.25%] md:pb-[75%] lg:pb-[56.25%] overflow-hidden transform md:-translate-y-2 xl:-translate-y-4 group-hover:translate-x-0 group-hover:translate-y-0 transition duration-700 ease-out">
                    <img class="absolute inset-0 w-full h-full object-cover transform hover:scale-105 transition duration-700 ease-out" src="../../../assets/images/ta.png" width="540" height="303" alt="Blog post">
                </figure>
            </a>
            <div>
                <header>
                    <div class="mb-3">
                        <ul class="flex flex-wrap text-xs font-medium -m-1">
                            <li class="m-1">
                                <a class="inline-flex text-center text-gray-100 py-1 px-3 rounded-full bg-pink-600 hover:bg-pink-800 transition duration-150 ease-in-out" href="#0">Wordpress</a>
                            </li>
                            <li class="m-1">
                                <a class="inline-flex text-center text-gray-100 py-1 px-3 rounded-full bg-purple-600 hover:bg-purple-700 transition duration-150 ease-in-out" href="#0">Divi Theme</a>
                            </li>
                            <li class="m-1">
                                <a class="inline-flex text-center text-gray-100 py-1 px-3 rounded-full bg-green-600 hover:bg-green-800 transition duration-150 ease-in-out" href="#0">Divi Engine</a>
                            </li>
                            <li class="m-1">
                                <a class="inline-flex text-center text-gray-100 py-1 px-3 rounded-full bg-orange-600 hover:bg-orange-800 transition duration-150 ease-in-out" href="#0">Elementor</a>
                            </li>
                            <li class="m-1">
                                <a class="inline-flex text-center text-gray-100 py-1 px-3 rounded-full bg-blue-500 hover:bg-blue-600 transition duration-150 ease-in-out" href="#0">Woocommerce</a>
                            </li>
                        </ul>
                    </div>
                    <h3 class="text-2xl lg:text-3xl font-bold leading-tight mb-2">
                        <a class="hover:text-gray-100 transition duration-150 ease-in-out" href="#0">WordPress Frontend Developer</a>
                    </h3>
                </header>
                <p class="text-lg text-gray-400 flex-grow">
                    I design and maintain websites, collaborating closely with UI/UX designers. Proficient in custom theme/plugin development with jQuery and AJAX, utilizing ACF for seamless integration. Expertise also includes HTML to WordPress conversion.</p>
                <footer class="flex items-center mt-4">
                    <div>
                        <a class="font-medium text-gray-200 hover:text-gray-100 transition duration-150 ease-in-out" href="#0">From</a>
                        <span class="text-gray-500"> Aug 01, 2023</span>
                        <span class="text-gray-700"> - </span>
                        <span class="text-gray-500">Present</span>
                    </div>
                </footer>
            </div>
        </article>    
    </div>
</section>


<!-- Edubridge Traineeing -->
<section class="flex flex-col justify-center antialiased bg-gray-900 text-gray-200 pt-10 ">
    <div class="max-w-6xl mx-auto p-4 sm:px-6 h-full">
        <!-- Blog post -->
        <article class="max-w-sm mx-auto md:max-w-none grid md:grid-cols-2 gap-6 md:gap-8 lg:gap-12 xl:gap-16 items-center">
            <a class="relative block group">
                <div class="absolute inset-0 bg-gray-800 hidden md:block transform md:translate-y-2 md:translate-x-4 xl:translate-y-4 xl:translate-x-8 group-hover:translate-x-0 group-hover:translate-y-0 transition duration-700 ease-out pointer-events-none" aria-hidden="true"></div>
                <figure class="relative h-0 pb-[56.25%] md:pb-[75%] lg:pb-[56.25%] overflow-hidden transform md:-translate-y-2 xl:-translate-y-4 group-hover:translate-x-0 group-hover:translate-y-0 transition duration-700 ease-out">
                    <img class="absolute inset-0 w-full h-full object-cover transform hover:scale-105 transition duration-700 ease-out" src="../../../assets/images/edubridge.jpg" width="540" height="303" alt="Blog post">
                </figure>
            </a>
            <div>
                <header>
                    <div class="mb-3">
                        <ul class="flex flex-wrap text-xs font-medium -m-1">
                            <li class="m-1">
                                <a class="inline-flex text-center text-gray-100 py-1 px-3 rounded-full bg-pink-600 hover:bg-pink-800 transition duration-150 ease-in-out" href="#0">Angular</a>
                            </li>
                            <li class="m-1">
                                <a class="inline-flex text-center text-gray-100 py-1 px-3 rounded-full bg-purple-600 hover:bg-purple-700 transition duration-150 ease-in-out" href="#0">Java</a>
                            </li>
                            <li class="m-1">
                                <a class="inline-flex text-center text-gray-100 py-1 px-3 rounded-full bg-green-600 hover:bg-green-800 transition duration-150 ease-in-out" href="#0">Spring boot</a>
                            </li>
                            <li class="m-1">
                                <a class="inline-flex text-center text-gray-100 py-1 px-3 rounded-full bg-orange-600 hover:bg-orange-800 transition duration-150 ease-in-out" href="#0">Mysql</a>
                            </li>
                            <li class="m-1">
                                <a class="inline-flex text-center text-gray-100 py-1 px-3 rounded-full bg-blue-500 hover:bg-blue-600 transition duration-150 ease-in-out" href="#0">GitHub</a>
                            </li>
                        </ul>
                    </div>
                    <h3 class="text-2xl lg:text-3xl font-bold leading-tight mb-2">
                        <a class="hover:text-gray-100 transition duration-150 ease-in-out" href="#0">Java Full Stack Trainee</a>
                    </h3>
                </header>
                <p class="text-lg text-gray-400 flex-grow">During my training, I honed my skills in Java and Angular, alongside Spring Boot, MySQL, and Git. I developed console-based applications and a full-stack project, gaining hands-on experience. Eager to continue enhancing my skills and contribute effectively to software development projects.</p>
                <footer class="flex items-center mt-4">
                    <div>
                        <a class="font-medium text-gray-200 hover:text-gray-100 transition duration-150 ease-in-out" href="#0">From</a>
                        <span class="text-gray-500"> Jan 16, 2023</span>
                        <span class="text-gray-700"> - </span>
                        <span class="text-gray-500">Jun 28, 2023</span>
                    </div>
                </footer>
            </div>
        </article>    
    </div>
</section>


<!-- EData Exposys Internship -->
<section class="flex flex-col justify-center antialiased bg-gray-900 text-gray-200 pt-10 pb-10">
    <div class="max-w-6xl mx-auto p-4 sm:px-6 h-full">
        <!-- Blog post -->
        <article class="max-w-sm mx-auto md:max-w-none grid md:grid-cols-2 gap-6 md:gap-8 lg:gap-12 xl:gap-16 items-center">
            <a class="relative block group">
                <div class="absolute inset-0 bg-gray-800 hidden md:block transform md:translate-y-2 md:translate-x-4 xl:translate-y-4 xl:translate-x-8 group-hover:translate-x-0 group-hover:translate-y-0 transition duration-700 ease-out pointer-events-none" aria-hidden="true"></div>
                <figure class="relative h-0 pb-[56.25%] md:pb-[75%] lg:pb-[56.25%] overflow-hidden transform md:-translate-y-2 xl:-translate-y-4 group-hover:translate-x-0 group-hover:translate-y-0 transition duration-700 ease-out">
                    <img class="absolute inset-0 w-full h-full object-cover transform hover:scale-105 transition duration-700 ease-out" src="../../../assets/images/data.png" width="540" height="303" alt="Blog post">
                </figure>
            </a>
            <div>
                <header>
                    <div class="mb-3">
                        <ul class="flex flex-wrap text-xs font-medium -m-1">
                            <li class="m-1">
                                <a class="inline-flex text-center text-gray-100 py-1 px-3 rounded-full bg-pink-600 hover:bg-pink-800 transition duration-150 ease-in-out" href="#0">Python</a>
                            </li>
                            <li class="m-1">
                                <a class="inline-flex text-center text-gray-100 py-1 px-3 rounded-full bg-purple-600 hover:bg-purple-700 transition duration-150 ease-in-out" href="#0">Django</a>
                            </li>
                            <li class="m-1">
                                <a class="inline-flex text-center text-gray-100 py-1 px-3 rounded-full bg-green-600 hover:bg-green-800 transition duration-150 ease-in-out" href="#0">Java script</a>
                            </li>
                            
                        </ul>
                    </div>
                    <h3 class="text-2xl lg:text-3xl font-bold leading-tight mb-2">
                        <a class="hover:text-gray-100 transition duration-150 ease-in-out">Web Developer Intern</a>
                    </h3>
                </header>
                <p class="text-lg text-gray-400 flex-grow">
                    Throughout my internship, I gained invaluable hands-on experience with Python and the Django framework. I also created a portfolio website using this framework, along with HTML, CSS, JavaScript, and Bootstrap.</p>
                <footer class="flex items-center mt-4">
                    <div>
                        <a class="font-medium text-gray-200 hover:text-gray-100 transition duration-150 ease-in-out" href="#0">From</a>
                        <span class="text-gray-500"> Apr 12, 2022</span>
                        <span class="text-gray-700"> - </span>
                        <span class="text-gray-500">May 06, 2020</span>
                    </div>
                </footer>
            </div>
        </article>    
    </div>
</section>

